@font-face {
  font-family: "poppins";
  src: url("./assets/Poppins-Medium.ttf");
}
* {
  padding: 0;
  margin: 0;
  font-family: "poppins";
}
header {
  background-color: rgb(98, 37, 221);
  padding: 35px;
  text-align: center;
}
